<div class="content-container">
  <section class="horse-list">
    <%for horse in @horses%>
    <section id="horse">
      <p>Name: <%=horse.name%></p>
      <p>Breed: <%=horse.breed%></p>
    </section>
    <%end%>
  </end>
</div>
