<div class="log-in-page sand-background">
  <main class="content-container">
    <div class="log-in-form">
    <form class="registration" action="/horses" method="post">
      <label class="input-label" for="name">Name</label>
      <input class="input-field" type="text" name="name" required="required">

      <label class="input-label" for="breed">Breed</label>
      <input class="input-field" type="text" name="breed" required="required">

      <label class="input-label" for="hair_coat">Hair coat</label>
      <input class="input-field" type="text" name="hair_coat" required="required">

      <label class="input-label" for="health_details">If your horse has any health-issues, specify it here:</label>
      <textarea name="health_details" rows="4" cols="80"></textarea>

      <input type="hidden" name="owner_id" value="<%=@owner.id%>">

      <input class="log-in-button button" type="submit" value="Add horse">

    </form>
  </div>
  </main>
</div>
