<div class="management-image">
  <div class="management-image-overlay">
  </div>
</div>
<div class="management-page">
  <aside class="management-aside">
    <ul>
      <li><a href="/horses">Manage horses</a></li>
      <li><a href="/trainings">Manage trainings</a></li>
      <li><a href="/trainers">Manage trainers</a></li>
      <li><a href="/owners">Manage owners</a></li>
    </ul>
  </aside>
  <main class="management-area">

  </main>
</div>
