
  <main id="admin-management">
    <a href="/trainers" class="management-page">
      <section id="manage-trainers" class="manage">
        <div class="overlay">
          <h1>Manage trainers</h1>
        </div>
      </section>
    </a>
      <a href="/horses" class="management-page">
        <section id="manage-horses" class="manage">
          <div class="overlay">
            <h1>Manage horses</h1>
          </div>
        </section>
      </a>


    <a href="/owners" class="management-page">
      <section id="manage-owners" class="manage">

        <div class="overlay">
          <h1>Manage owners</h1>
        </div>
      </section>
    </a>
    <a href="/trainings" class="management-page">
      <section id="manage-trainings" class="manage">
        <div class="overlay">
          <h1>Manage trainings</h1>
        </div>
      </section>
    </a>

  </main>
