
  <main id="admin-management">
    <a href="/horses">
      <section class="manage">
        <h1>Manage horses</h1>
      </section>
    </a>
    <a href="/owners">
      <section class="manage">
        <h1>Manage owners</h1>
      </section>
    </a>
    <a href="/trainings">
      <section class="manage">
        <h1>Manage trainings</h1>
      </section>
    </a>
    <a href="/trainers">
      <section class="manage">
        <h1>Manage trainers</h1>
      </section>
    </a>
  </main>
