<main id="management-page">
  <aside>
    <ul>
      <li><a href="/horses">Manage horses</a></li>
      <li><a href="/trainings">Manage trainings</a></li>
      <li><a href="trainers">Manage trainers</a></li>
      <li><a href="owners">Manage owners</a></li>
    </ul>
  </aside>
  <section id="management-area">

  </section>
</main>
