<figure>
  <img src="" alt="Ihahahaha">
  <figcaption>Kuń Ihahahhaha</figcaption>
  <dl>
    <dt>Name:</dt>
    <dd>Stefan</dd>
    <dt>Breed:</dt>
    <dd>Arabian</dd>
    <dt>Hair coat:</dt>
    <dd>Fluffy</dd>
  </dl>
</figure>



<div class="input-container">
  <label for="username" style="display: block; width: 1px; height: 1px; text-indent: -9999px; display: hidden;">Username</label>
  <input class="input-field" id="username" type="text" name= "username" placeholder="Username" required="required">
</div>
