<main id="home-content">
  <div id="home-container">
    <section id="welcome-container">
      <h1>Welcome to Equilibrium</h1>
      <p>Horse Well-being and Management App</p>
    </section>
    <section id="owner">
        <h1>Owner</h1>
        <button><a href="#">GET STARTED</a></button>
    </section>
    <section id="management">
        <h1>Management</h1>
        <button><a href="#">GET STARTED</a></button>
    </section>
  </div>
</main>
