<main id="home-content">
  <article id="welcome-page">
    <div id="home-container">
      <section id="welcome-container">
        <h1>Welcome to Equilibrium</h1>
        <p>Horse Well-being and Management App</p>
      </section>
      <section id="owner">
          <h1>Owner</h1>
          <button class="get-started"><a href="#">GET STARTED</a></button>
      </section>
      <section id="management">
          <h1>Management</h1>
          <button class="get-started"><a href="#">GET STARTED</a></button>
      </section>
    </div>
  </article>
  <div id="services">
    <section id="trainings">
      <figure class="service-icon"></figure>
      <h1>Individuals</h1>
      <p>Track the well-being of your horse and stay updated</p>
    </section>
    <section id="tracking">
      <figure class="service-icon"></figure>
      <h1>Businesses</h1>
      <p>Schedule trainings and update information on horses</p>
    </section>
    <section id="trainings">
      <figure class="service-icon"></figure>
      <h1>Charities and Non-profits</h1>
      <p>Manage the stable and oversee the health of horses</p>
    </section>
  </div>
</main>
