<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <title>Equilibrium</title>
  </head>
  <body>
    <div id="home_page">
      <nav>
        <ul>
          <li id="logo"></li>
          <li><a>LOGIN</a></li>
          <li><a>MANAGEMENT</a>
            <ul class="drop-down">
              <li><a href="/horses">HORSES</a></li>
              <li><a>OWNERS</a></li>
            </ul>
          </li>
          <li><a>OWNER</a></li>


        </ul>
      </nav>
    <%=yield%>
  <footer>
    <p>Horse icon made by Freepik from www.flaticon.com</p>
  </footer>
  </body>

</html>
