<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title>Equilibrium</title>
  </head>
  <body>
    <div id="home_page">
      <nav>
        <ul>
          <li><a>HOME</a></li>
          <li><a>MANAGEMENT</a>
            <ul class="drop-down">
              <li><a href="/horses">HORSES</a></li>
              <li><a>OWNERS</a></li>
            </ul>
          </li>
          <li><a>OWNER</a></li>
        </ul>
      </nav>
    <%=yield%>
  </body>
</html>
