<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="icon" href="/assets/horse-icon-black.png" />
    <link rel="stylesheet" href="/styles.css">
    <link href="https://fonts.googleapis.com/css?family=PT+Sans" rel="stylesheet">
    <title>Equilibrium</title>
  </head>
  <body>
      <nav>
        <ul>
          <li id="logo"><a href="/">Logo</a></li>
          <li><a href="/owners/login">LOGIN</a></li>
          <li><a href="/admin">MANAGEMENT</a>
            <ul class="drop-down">
              <li><a href="/horses">HORSES</a></li>
              <li><a href="">OWNERS</a></li>
            </ul>
          </li>
          <li><a href="/owners/new">OWNER</a></li>
        </ul>
      </nav>
    <%=yield%>

  </body>

</html>
