<div class="sand-background">
  <section class="login-form">
    <form class="registration" action="/owners/login" method="post">
      <label for="username" class="input-label">Username</label>
      <input class="input-field" type="text" name="username" required="required">
      <input class="log-in-button button" type="submit" name="login" value="LOG IN">
    </form>
  </section>
</div>
