<div class="login">
  <form class="login-input" id="owner" action="" method="post">
    <input type="text" name="username" placeholder="Username">
    <input type="submit" name="login" value="LOG IN">
  </form>
  <form class="login-input" id="owner" action="" method="post">

  </form>
</div>
