<div class="log-in-page sand-background">
  <section class = "logo-area">
    <img src="/assets/horse_icon.png" class="logo-image">
    <h1>Equilibrium</h1>
  </section>
  <section class="log-in-form">
    <form class="registration" action="/owners/login" method="post">
      <label for="username" class="input-label">Username</label>
      <input class="input-field" type="text" name="username" required="required">
      <input class="log-in-button button" type="submit" name="login" value="LOG IN">
    </form>
  </section>
</div>
