<div class="content-container">
  <form class="login" action="/owners/invalid_user" method="post">
    <input class="input-field" type="text" name="username" placeholder="Username" required="required">
    <input class="log-in-button button" type="submit" name="login" value="LOG IN">
  </form>
</div>
