<div class="log-in-page green-page">
  <div class="registration">
    <div class="confirmation">
      <p>You have successfully added a training</p>
    </div>
      <div class="action-buttons-center">
        <a href="/trainings"><button class="button more-button">View horse</button></a>
      </div>
    </div>
  </div>
</div>
