


<main class="content-container">
  <div class="content">
    <p>You have successfully added a training</p>
    <a href="/trainings"><button class="button more-button">View the horse</button></a>
  </div>
</main>
