<div class="content-container">
  <div class="form-container">
    <form class = "registration" action = "/trainings" method = "post">
        <div class="input-container">
          <select class="selection" name="type" placeholder="Type of training">
            <option value="dressage">Dressage</option>
            <option value="show jumping">Show Jumping</option>
            <option value="lunge">Lunge</option>
            <option value="walker">Walker</option>
          </select>
        </div>
        <div "input-container">
          <select class="selection" name="day_of_week" placeholder="Day of week">
            <option value="Monday">Monday</option>
            <option value="Tuesday">Tuesday</option>
            <option value="Wednesday">Wednesday</option>
            <option value="Thursday">Thursday</option>
            <option value="Friday">Friday</option>
            <option value="Saturday">Saturday</option>
            <option value="Sunday">Sunday</option>
          </select>
        </div>
        <div "input-container">
          <select class="selection" name="trainer_id" placeholder="Trainer">
            <%for trainer in @trainers%>
              <option value="<%=trainer.id%>" <%= 'selected' if @training.trainer.id == trainer.id %>><%=trainer.full_name%></option>
            <%end%>
          </select>
        </div>
        <div "input-container">
          <input type="number" name="duration" placeholder="Duration">
        </div>
        <input class="register-button button" type="submit" value="Edit">

</div>
