<div class="content-container">
  <div class="form-container">
    <form class = "registration" action = "/trainings" method = "post">
        <div class="input-container">
          <select class="selection" name="type" placeholder="Type of training">
            <option value="dressage">Dressage</option>
            <option value="show jumping">Show Jumping</option>
            <option value="lunge">Lunge</option>
            <option value="walker">Walker</option>
          </select>

        <input class="register-button button" type="submit" value="Add training">

</div>
