
<div class="content-container">
  <section class="confirmation">
    <p>Thank you, <%=@owner.first_name%> for your registration</p>
    <p><a href="/owners/<%=@owner.id%>">View your profile</a></p>
  </section>
</div>
