
<div class="content-container">
  <section class="confirmation">
    <p>Thank you, <%=@owner.first_name%> for your registration</p>
    <a href="/owners/<%=@owner.id%>"><button class="more-button button">View your profile</button></a>
  </section>
</div>
