<div class="content-container">
  <section class="horse-list list">
    <%for horse in @horses_by_owner%>
    <section class="horse item-section">
      <p>Name: <%=horse.name%></p>
      <p>Breed: <%=horse.breed%></p>
      <p>Hair coat <%=horse.hair_coat%></p>
      <a href="/horses/<%=horse.id%>/edit">EDIT</a>
    </section>
    <%end%>
  </end>
</div>
