<div id="management-page">
  <aside>
    <ul>
      <li><a href="/horses">Manage horses</a></li>
      <li><a href="/trainings">Manage trainings</a></li>
      <li><a href="trainers">Manage trainers</a></li>
      <li><a href="owners">Manage owners</a></li>
    </ul>
  </aside>
  <main id="management-area">
<div class="content-container">
  <div class="trainers-form">

      <table>
        <th>Name</th>
        <th>Username</th>
        <th></th>
          <%for owner in @owners%>
        <tr>
          <td><%=owner.full_name%></td>
          <td><%=owner.username%></td>
          <td>
            <section class="action-buttons">
            <form action="/owners/<%=owner.id%>/delete" method="post">
              <input type="submit" name="delete" value="Delete" class="button-small delete-button">
            </form>
            <a href="/owners/<%=owner.id%>/horses"><button class="more-button button-small">View horses</button></a>
          </section>
        </td>
        </tr>
          <%end%>
      </table>



  <a href="/admin"><button class="more-button button">Go back</button></a>
</div>
</div>
</main>
