<div class="management-page">
  <aside class="management-aside">
    <ul>
      <li><a href="/horses">Manage horses</a></li>
      <li><a href="/trainings">Manage trainings</a></li>
      <li><a href="/trainers">Manage trainers</a></li>
      <li><a href="/owners">Manage owners</a></li>
    </ul>
  </aside>
  <div class="management-image">
    <div class="management-image-overlay">
    </div>
  </div>
  <main class="management-area">
    <div class="training-horses-owners-table ">
      <div class="form-container">

        <table>
          <th>Name</th>
          <th>Username</th>
          <th></th>
          <%for owner in @owners%>
          <tr>
            <td><%=owner.full_name%></td>
            <td><%=owner.username%></td>
            <td>
              <section class="action-buttons">
                <a href="/owners/<%=owner.id%>/owners_horses"><button class="more-button button-small">View horses</button></a>
                <form action="/owners/<%=owner.id%>/delete" method="post">
                  <input type="submit" name="delete" value="Delete" class="button-small delete-button">
                </form>
              </section>
            </td>
          </tr>
          <%end%>
        </table>


        <div class="action-buttons-center">
          <a href="/admin"><button class="more-button button">Go back</button></a>
        </div>
      </div>
    </div>
  </main>
</div>
