<div class="log-in-page green-page">
  <div class="registration">
    <div class="confirmation">
      <p>User not found</p>
    </div>
    <a href="/owners/login"><button class="more-button button">Try again</button></a>
  </div>
</div>
