<section class="form">
  <form class = "registration" action = "/owners" method = "post">
      <div class="first-name">
        <label for="first-name"></label>
        <input id="first-name" type="text" name= "first_name" placeholder="First name">
      </div>
      <div class="last-name">
        <label for="last-name"></label>
        <input id="last-name" type="text" name="last_name" placeholder="Last name">
      </div>
      <input class="register-button" type="submit" value="REGISTER">
  </form>
</section>
