<div class="log-in-page sand-background">
  <section class = "logo-area">
    <img src="/assets/horse_icon.png" class="logo-image">
    <h1>Equilibrium</h1>
  </section>
  <section class = "log-in-form">
    <div class="registration">
    <form action = "/owners/validate" method = "post">
        <div class="input-container">
          <label class="input-label" for="first-name">First name</label>
          <input class="input-field" id="first-name" type="text" name= "first_name" required="required" autocomplete="off">
        </div>
        <div class="input-container">
          <label class="input-label" for="last-name">Last name</label>
          <input class="input-field" id="last-name" type="text" name="last_name" required="required" autocomplete="off">
        </div>
        <div class="input-container">
          <label class="input-label" for="username">Username</label>
          <input class="input-field" id="username" type="text" name= "username" required="required" autocomplete="off">
        </div>
        <input id="registration-button" class="log-in-button button" type="submit" value="REGISTER">
    </form>
    <a id="login-registration-button" href="/owners/login"><button class="log-in-button button">LOG IN</button></a>
  </div>
  </section>

</div>
