<div class="content-container">
  <section class="profile">
    <p><%=@owner.first_name%></p>
    <p><%=@owner.last_name%></p>
    <p><a href="/owners/<%=@owner.id%>/horses">View your horses</a></p>
    <p><a href="/horses/new?owner_id=<%=@owner.id()%>">Add a new horse</a></p>
  </section>
</div>
