<div class="log-in-page green-page">
  <div class="registration">
    <div class="confirmation">
      <p>Sorry, this user is already taken</p>
    </div>
  </div>
</div>

<meta http-equiv="refresh" content="2;url=/owners/new" />
