<div class="log-in-page green-page">
  <div class="registration">
    <div class="confirmation">
      <p class="confirmation">You successfully added a trainer!</p>
    </div>
      <div class="action-buttons-center">
        <a href="/trainers"><button class="more-button button">View trainers</button></a>
      </div>
    </div>
  </div>
