<main class="content-container">
  <form class="registration" action="/trainers" method="post">
    <label for="first_name"></label>
    <input class="input-field" type="text" name="first_name" value="<%=@trainer.first_name%>">
    <label for="last_name"></label>
    <input class="input-field" type="text" name="last_name" value="<%=@trainer.last_name%>">
    <input class="add-button button" type="submit" value="Edit">
  </form>
</main>
