<a href="/trainer/new"><button class="add-button button">ADD TRAINER</button></a>
<section class="trainer-list list">
<%for trainer in @trainers%>
  <section class="trainer item-section">
      <p>First name: <%=trainer.first_name%></p>
      <p>Last name: <%=trainer.last_name%></p>
      <section class="action-buttons">
        <a href="/trainers/<%=trainer.id%>/edit"><button class="edit-button button">EDIT</button></a>
        <form class="delete-button" action="/trainers/<%=trainer.id%>/delete" method="post">
          <input type="submit" name="delete" value="DELETE" class="button">
        </form>
      </section>
  </section>
<%end%>
