<a href="/trainers/new"><button class="add-button button">Add a trainer</button></a>
<section class="trainer-list list">
<%for trainer in @trainers%>
  <section class="trainer item-section">
      <p>First name: <%=trainer.first_name%></p>
      <p>Last name: <%=trainer.last_name%></p>
      <section class="action-buttons">
        <a href="/trainers/<%=trainer.id%>/edit"><button class="edit-button button">Edit</button></a>
        <form action="/trainers/<%=trainer.id%>/delete" method="post">
          <input type="submit" name="delete" value="Delete" class="delete-button button">
        </form>
      </section>
  </section>
<%end%>
<a href="/admin"><button class="more-button button">Go back</button></a>
