<form class="registration" action="/trainers" method="post">
  <label for="first_name"></label>
  <input type="text" name="first_name" required="required" placeholder="First name">
  <label for="last_name"></label>
  <input type="text" name="last_name" required="required" placeholder="Last name">
  <input type="submit" value="ADD TRAINER">
</form>
