<div class="log-in-page green-page">
  <div class="form-container">
    <form class="registration" action="/trainers" method="post">
      <label class="input-label" for="first_name">First name</label>
      <input class="input-field" type="text" name="first_name" required="required">
      <label class="input-label" for="last_name">Last name</label>
      <input class="input-field" type="text" name="last_name" required="required">
      <input class="add-button button" type="submit" value="Add trainer">
    </form>
</div>
</div>
